<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Venter Round Tour</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="../static/styles/basic.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
    <link
      href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
  </head>

  <body>
    <div style="display: flex; text-align: center; font-weight: 400">
      <div style="background: #0f0f41; width: 20%; color: white">
        <p>Thursday</p>
      </div>
      <div style="background: #825c9a; width: 20%; color: white">
        <p>Friday</p>
      </div>
      <div style="background: #ffb8f9; width: 20%">
        <p>Saturday</p>
      </div>
      <div style="background: #f478ab; width: 20%">
        <p>Sunday</p>
      </div>
      <div style="background: #d43d51; width: 20%; color: white">
        <p>Monday</p>
      </div>
    </div>
    <header>
      <div>
        <h1>Venter Round Tour</h1>
        <p>
          With this interactive visualization we accompany Thomas Harasser on
          his way through the Ötztal. In 5 days in March of 2022, 5 peaks were
          climbed and 5.515 meters of altitude covered with skis.
        </p>
        <p>The data was captured by a Garmin fenix 6X Pro sports watch.</p>
        <p style="font-style: italic; opacity: 0.75; margin-top: 0.5em">
          All plots can be zoomed and filtered by dragging and releasing on
          them. Filters can by applied by hovering the legend.
        </p>
      </div>
      <div class="attribution">
        <p>Niklas Noldin 51830380</p>
        <p>Matthias Herret 51831178</p>
      </div>
    </header>
    <main>
      <div id="map"></div>
      <div class="top-container">
        <div id="heartRate"></div>
        <div class="side-container">
          <div id="last"></div>
          <div id="elevation"></div>
          <div id="slope"></div>
        </div>
      </div>
    </main>
  </body>
</html>

<script type="module">
  import {drawMap} from "/static/js/drawMap.js"
  import drawElevationPlot from "/static/js/drawElevationPlot.js";
  import drawSlopePlot from "/static/js/drawSlopePlot.js";
  import drawHeartRatePlot from "/static/js/drawHeartRatePlot.js";
  import drawLastPlot from "/static/js/drawLastPlot.js";

  // Load data from jinja2
  const geoJson = {{ geo_json | safe }}
  const location = {{ location | safe }}
  const elevation = {{ elevation | safe }}
  const heartRates = {{ heart_rate | safe }}
  const temperature = {{ temp | safe }}

  const data = location.map((val,idx) => {
    const currentElevation = Object.values(elevation[idx])[0]
    const previousElevation = Object.values(elevation[idx -1] || elevation[0])[0]
    const slope = currentElevation - previousElevation
    const heartRate = Number.parseInt(Object.values(heartRates[idx])[0])
    return {
      time: new Date(Object.keys(val)[0]),
      location: Object.values(val)[0],
      elevation: currentElevation,
      slope: slope < 50 & slope > -15 ? slope : 0, // measuring errors
      heartRate: heartRate < 150  ? heartRate : null, // measuring errors
      temperature: Number.parseFloat(Object.values(temperature[idx])[0]),
    };
  }).filter(Boolean)
  drawMap(geoJson);

  drawElevationPlot("#elevation", data);
  drawSlopePlot("#slope", data);
  drawHeartRatePlot("#heartRate", data);
  drawLastPlot("#last", data);
</script>
