<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ski touring</title>
    <script src="https://d3js.org/d3.v5.js"></script>
    <link rel="stylesheet" href="../static/styles/basic.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>

</head>

<body>
    <h1>InfoVis UE 3 2022</h1>
    <h3>Niklas Noldin</h3>
    <h3>Matthias Herret 51831178</h3>
    <div class="center">
        <div id="map"></div>
        <div>
             <div id="my_dataviz"></div>
             <div id="elevation"></div>
             <div id="heartRate"></div>
        </div>
    </div>

</body>

</html>
<script src="../static/js/static_values.js"></script>
<script src="../static/js/map_chart.js"></script>
<script src="../static/js/test_plot.js"></script>
<script src="../static/js/heartrate_plot.js"></script>
<script type="text/javascript">

    var map = L.map('map', {
        center: [46.817573, 10.868854],
        zoom: 12
    });
    mpBox_url = 'https://api.mapbox.com/styles/v1/mat001/cl4ei2mf5001414po9oxdchts/draft/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoibWF0MDAxIiwiYSI6ImNsNGVpMDhpZTAzb3kzcXAxdG85bWdleTYifQ.gqjgm-0RlPBSZ-iOtEjeFg';
    L.tileLayer(mpBox_url, {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    // // Load data from jinja2
    var geoJson = {{ geo_json | safe }}
    var elevation = {{ elevation | safe }}
    var heartRate = {{ heart_rate | safe }}
    var temperature = {{ temp | safe }}
    console.log(geoJson)
    console.log(heartRate)
    console.log(temperature)

    var gpx = L.geoJSON(geoJson).on('loaded', function(e) {
      map.fitBounds(e.target.getBounds());
    }).addTo(map);
    // load gpx data
    // var gpx = '../static/data/Venter_Skirunde_.gpx'; // URL to your GPX file or the GPX itself
    // var gpxLayer = new L.GPX(gpx, {async: true}).on('loaded', function(e) {
    //   map.fitBounds(e.target.getBounds());
    // });
    gpx.setStyle({
            color: 'blue',
            opacity: 1,
            weight: 5
        });
    gpx.on('mouseover', function(e) {
        var layer = e.sourceTarget;

        layer.setStyle({
            color: 'red',
            opacity: 1,
            weight: 5
        });
    });
    gpx.on('mouseout', function(e) {
        var layer = e.sourceTarget;

        layer.setStyle({
            color: 'blue',
            opacity: 1,
            weight: 5
        });
    });
    create_test_plot();
    // createHeatmap(bli_data);

</script >
